<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDN</title>
</head>
<body>
    This is a cache/cdn site for this <a href="http://ai.airplanegobrr.xyz" target="_blank">site</a>
    <p>When the main server hits 100 images/jobs it will upload ALL of its contents to this site</p>
    <p>This site has an API to help look/find an old job</p>
</body>
</html>