<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.0.4/css/halfmoon.min.css" />

    <style>
    @media only screen and (max-width: 768px) {
        .mobile {
            display: block !important;
        }
        .desktop {
            display: none !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .desktop {
            display: block !important;
        }
        .mobile {
            display: none !important;
        }
    }
    </style>

    <title>AI Generator</title>
    <meta property="og:title" content="AI Generator" />
    <meta property="og:site_name" content="AirplaneGobrr" />
    <meta property="og:image" content="/static/sundress_cropped.png" />
    <meta property="og:description" content="Forever Free AI Generated" />
    <meta property="og:locale" content="en_US" />

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode text-center">
    <form class="m-auto w-three-quarter">
    <h1>AI Generator</h1>
    <h4>{{{count}}} and counting...</h4>
    <h5>Please don't put over 50 sample rate! Its not worth it and 35-50 is better!</h5>
    <div class="form-group">
        <select class="form-control" id="model" required="required">
        </select>
    </div>

    <div class="form-group">
        <input class="form-control" maxlength="999" id="prompt" placeholder="Describe the image that you want to generate in a few words"></input>
    </div>
    <div class="form-group">
        <input class="form-control" maxlength="999" id="negprompt" placeholder="Describe what you DONT want in the image" value="ugly, tiling, poorly drawn hands, poorly drawn feet, poorly drawn face, out of frame, extra limbs, disfigured, deformed, body out of frame, blurry, bad anatomy, blurred, watermark, grainy, signature, cut off, draft, purple dots"></input>
    </div>
    <div class="form-group">
        <input class="form-control" maxlength="77" id="username" placeholder="Username, setting to none will make it public!"></input>
    </div>
    <div class="form-group">
        <input class="form-control" maxlength="10" id="sample" placeholder="Sample rate, max of 100"></input>
    </div>

    </form>
    <h4 id="queue_info" display="none"></h4><br>
    <button class="btn btn-primary" id="generate_button" onclick="send_prompt();">Generate</button>
    <br><br>

    <div id="generated_images">
        <img width="100%" id="generated_image" style="display: block; border-style: solid; border-width: 3px; display: none; max-width: 512px; margin-left: auto; margin-right: auto;" />
    </div>
    
    <h6>Some code srced from Madeline</h6>
    <h1><a href="/info" target="_blank">Info/FAQ</a></h1>
</body>

<script defer>
    var queue_item = null;
    var models = {{{models}}}
    for (var model of models){
        var modelElm = document.createElement("option")
        modelElm.value = model
        modelElm.text = model
        document.getElementById("model").append(modelElm)
    }

    function send_prompt() {
        document.title = `AI Generator - Working`
        var p = encodeURIComponent(document.getElementById("prompt").value);
        var np = encodeURIComponent(document.getElementById("negprompt").value);
        var m = encodeURIComponent(document.getElementById("model").value);
        var u = encodeURIComponent(document.getElementById("username").value);
        var s = encodeURIComponent(document.getElementById("sample").value);
        if (s > 100) s = 35

        if (u == null || u == "") u = "public"

        fetch(`/generate?prompt=${p}&negprompt=${np}&model=${m}&username=${u}&sample=${s}`).then(function(res) {
            return res.json()
        }).then(function(data) {
            if (data.status == "QUEUED") {
                queue_item = data;
            }

            set_queue(data);
        })

        document.getElementById("generate_button").style.display = "none";
        document.getElementById("generated_images").style.display = "none";
        document.getElementById("queue_info").style.display = "inline-block";
        document.getElementById("queue_info").innerHTML = `...`;
    }

    setInterval(function() {
        if (queue_item != null && queue_item.status != "FINISHED" && queue_item.status != "ERROR") {
            fetch(`/queue/${queue_item.id}`).then(function(res) {
                return res.json()
            }).then(function(data) {
                queue_item = data;
                set_queue(queue_item);
            })
        }
    }, 500)

    function set_image(id, username) {
        document.getElementById("generated_images").innerHTML= "Loading..."
        
        document.getElementById("generated_images").innerHTML= ""
        for (let i = 0; i < queue_item.count; i++) {
            var img = document.createElement("img")
            img.src = `/image/${id}-${i}?username=${username}`
            document.getElementById("generated_images").append(img)
        }
    }

    function set_queue(queue_item) {
        if (queue_item.status == "ERROR") {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = queue_item.message;
            document.getElementById("generate_button").style.display = "inline-block";
            document.getElementById("generated_images").style.display = "none";
        }
        else if (queue_item.status == "FINISHED") {
            document.getElementById("queue_info").style.display = "none";
            document.getElementById("generate_button").style.display = "inline-block";
            document.getElementById("generated_images").style.display = "block";
            set_image(queue_item.id, queue_item.username);
            document.title = `AI Generator - Done!`
        }
        else if (queue_item.position > 0) {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = `Waiting in queue... (${queue_item.position})`;
            document.getElementById("generate_button").style.display = "none";
            document.getElementById("generated_images").style.display = "none";
            document.title = `AI Generator - ${queue_item.position}`
        }
        else {
            document.getElementById("queue_info").style.display = "inline-block";
            document.getElementById("queue_info").innerHTML = `Generating image... ${Math.round(queue_item.progress)}%`;
            document.getElementById("generate_button").style.display = "none";
            document.getElementById("generated_images").style.display = "none";
            document.title = `AI Generator - Working - ${Math.round(queue_item.progress)}%`
        }
    }
</script>
