<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.0.4/css/halfmoon.min.css" />

    <style>
    @media only screen and (max-width: 768px) {
        .mobile {
            display: block !important;
        }
        .desktop {
            display: none !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .desktop {
            display: block !important;
        }
        .mobile {
            display: none !important;
        }
    }
    </style>

    <title>AI Generator - Info/FAQ</title>
    <meta property="og:title" content="AI Generator" />
    <meta property="og:site_name" content="AirplaneGobrr" />
    <meta property="og:image" content="/static/sundress_cropped.png" />
    <meta property="og:description" content="Forever Free AI Generated" />
    <meta property="og:locale" content="en_US" />

</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars dark-mode text-center">
    <form class="m-auto w-three-quarter">
    <h1>AI Generator Info/FAQ</h1>
    
    <h1><a href="#Info">Info</a></h1>
    <h6>Every minute the database gets checked</h6>
    <h6>If there are more then 100+ images then it will upload all of them to the backend <a href="http://cdn.ai.airplanegobrr.xyz", target="_blank">CDN</a></h6>
    <h6>However, this only happens if no user has used the site in the last 5 minutes</h6>

    <h1><a href="#FAQ">FAQ</a></h1>
    <h5>Q: Are there any easter eggs?</h5>
    <h6>A: Yes.</h6>
    <h5>Q: What is Sample rate?</h5>
    <h6>A: Sample rate is how many times the image gets details added via the AI generator, 1 being the lowest, 100 being the highest</h6>
    <h5>Q: What is username?</h5>
    <h6>A: You can use this to store all your files, this isnt password protected and anyone can add to it</h6>

</body>